Makefile
Makefile.*
*.a
*.so
*.pc
*.prl
*.o
*.pro.user*
moc_*
*.ts
*.qm
*.moc
*.list
installroot
RPMS
sailfish-unlock-ui/sailfish-unlock-ui
sailfish-unlock-ui/images/
encryption-service/encryption-service
qa-encrypt-device/qa-encrypt-device
