[Unit]
Description=Home encryption preparation service
After=home.mount
Before=multi-user.target systemd-user-sessions.service
ConditionPathExists=/var/lib/sailfish-device-encryption/encrypt-home

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh /usr/share/sailfish-device-encryption/home-encryption-preparation.sh
ExecStop=/bin/sh /usr/share/sailfish-device-encryption/home-encryption-finish.sh
