[Unit]
Description=Encrypts home partition
ConditionPathExists=/var/lib/sailfish-device-encryption/encrypt-home

[Service]
Type=dbus
BusName=org.sailfishos.EncryptionService
ExecStart=/usr/libexec/sailfish-encryption-service
