# Encrypt home partition
[Unit]
Description=Encrypt home partition
ConditionPathExists=/var/lib/sailfish-device-encryption/encrypt-home
After=home-encryption-preparation.service

[Service]
Type=dbus
BusName=org.sailfishos.EncryptionService
ExecStart=/usr/libexec/sailfish-encryption-service
