[Unit]
Description=Sailfish Encryption Unlock UI
DefaultDependencies=no
Requires=dbus.socket
After=dbus.socket
After=mce.service
After=dsme.service
Wants=emergency-call.target
After=emergency-call.target
Conflicts=shutdown.target emergency.service
Before=shutdown.target display.service
ConditionDirectoryNotEmpty=/run/systemd/ask-password

[Service]
Type=oneshot
EnvironmentFile=-/var/lib/environment/nemo/locale.conf
ExecStart=/usr/libexec/sailfish-unlock-ui
